{% load static %}
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css'>
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
</head>
<body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/my_js.js' %}"></script>
{% block script %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>