{% extends 'basic.html' %}
{% block body %}
<div align="center" class="w-100 h-100">
    <div class="vertical-center-2 font-20 w-100">
        <h3>Your form is under verification....</h3>
        <div class="w-60">
            <ul>
                <li>Thank you for using our web-app</li>
                <li>You have successfully submitted the signup form.</li>
                <li>Our team will contact you as soon as possible.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}