{% extends 'basic.html' %}
{% load static %}
{% block body %}
<nav class="navbar">
    <ul class="navbar-brand">
        <li>Welcome , {{user.name|title}}</li>
    </ul>
    <div class="dropdown">
        <button class="navbar-button dropbtn">
            <img class="navbar-img" src="{% static 'icons/icon-192x192.png' %}">
        </button>
        <div class="dropdown-content">
            <a href="#">Change Password</a>
            <a href="#">Profile</a>
            <a href="/logout/">Logout</a>
        </div>
    </div>
</nav>
<div>
    <table width="80%" border="1" cellpadding="10" cellspacing="0" class="collapse-border mt-5" align="center">
        <tr>
            <td>Name</td>
            <td>Contact Number</td>
            <td>Image</td>
            <td>Licence Number</td>
            <td></td>
        </tr>
        {% for a in doctor_to_verify  %}
        <tr>
            <td>{{a.user_id.name|title}}</td>
            <td>{{a.user_id.phone_number}}</td>
            <td>
                <img src="{{a.licence_image.url}}"  class="licence-image"></td>
            <td>{{a.licence_no}}</td>
            <td><button onclick="window.location.href='/doctors_verification/{{a.user_id.id}}'">Verify</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}