{% extends 'basic.html' %}
{% block title %}Forgot Password {% endblock %}
{% block body %}
<div class="w-100 h-100" >
    <div  class="container-75">
        <div class="vertical-center-2 w-100" align="center">
            <h1>Forgot Password </h1>
            <div id="forgot_pass_1">
                <p class="font-20"><br>please enter your gmail to reset your password</p>
<!--                <form action="/forgot_password/" method="post">{% csrf_token %}-->

                    <p class="font-20 red" id="forgot-text" ></p>
                    <input class="input-300 form-input" name="username" placeholder="Username/Email address" type="text" id="username"
                    onkeyup="this.value=this.value.toLowerCase()">
                    <br>
                    <button class="btn btn-outline-danger" onclick="forgotPassword()">Submit</button>
<!--                </form>-->
            </div>
            <div hidden id="forgot_pass_2">
                <p class="font-20"><br>Please enter received otp and type new password.</p>
                <form action="/forgot_password/" method="post">{% csrf_token %}
                    <input class="input-300 form-input" name="username" placeholder="Username/Email address" type="text" readonly disabled id="email">
                    <br>
                    <input class="input-300 form-input" name="otp" placeholder="Otp" type="password" autocomplete="on"><br>
                    <input class="input-300 form-input" name="otp" placeholder="Password" type="password" autocomplete="off"><br>
                    <input class="input-300 form-input" name="otp" placeholder="Confirm Password" type="password" autocomplete="off"><br>
                    <button class="btn btn-outline-danger" onclick="">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}