{% extends 'basic.html' %}
{% load static %}
<head>
    <title>login page 1</title>
    <meta charset="UTF-8">
    <title>login page 1 </title>
</head>
{% block script %}
<script>
    addEventListener("load",homePage);
</script>
{% endblock %}
{% block body %}
<div class="background-home w-100 h-100">
    <img class="images" src="{% static 'images/logo 1-modified.jpeg' %}" alt="logo 1">
    <div class="form-box">
        <div class="header-text">
            Login
        </div>
        <div><span id="loginText" class="alertText"></span></div>
        <form action="/" method="post" id="loginForm">{% csrf_token %}
        <input class="form-input" placeholder="Your Email Address" type="text" required id="username" name="username" oninput="this.value=this.value.toLowerCase()">
        <input class="form-input" placeholder="Your Password" type="password" required id="password" name="password">
        <div id="captcha_frame" style="width:100%;">
            <button type="button" onclick="refreshCaptcha();" style="width:19%;cursor: pointer;float:right;">
                <img src="{% static 'images/refresh_img.png' %}" width="100%">
            </button>
        </div>
        <div>
            <input class="form-input" placeholder="Captcha(CAPS ONLY)" type="text" required id="captcha">
        </div>
        <button type="button" class="buttons" onclick="login()">login</button>
        <button type="button" class="buttons" onclick="window.location.href='/signup/'">signup</button>
        </form>
    </div>
</div>
{% endblock %}