{% extends 'basic.html' %}
{% load static %}
<head>
    <title>login page 1</title>
    <meta charset="UTF-8">
    <title>login page 1 </title>
</head>
{% block body %}
<div class="background-home w-100 h-100">
    <div align="center">
        <img alt="logo 1" class="images" src="{% static 'logo.png' %}" width="100%">
    </div>
    <div class="form-box mt-1">
        <div class="header-text">
            Login
        </div>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <li class="red font-20" style="list-style:none;"><b>{{ message }}</b></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <span class="alertText" id="loginText"></span>
        </div>
        <form action="/" id="loginForm" method="post">{% csrf_token %}
            <input class="form-input" id="username" name="username" oninput="this.value=this.value.toLowerCase()" placeholder="Your Email Address" required
                   type="text">
            <input class="form-input" id="password" name="password" placeholder="Your Password" required type="password">
            <div id="captcha_frame" style="width:100%">
                <div class="captchaImage" id="captchaImage">{{captcha}}</div>
                <button onclick="refreshCaptcha();" style="width:15%; cursor: pointer;float:right;" type="button">
                    <img src="https://res.cloudinary.com/df25ncrwn/image/upload/v1646048908/media/health_world/static/images/refresh_img_dziae1.jpg" width="100%">
                </button>
            </div>
            <div>
                <input class="form-input" id="captcha" placeholder="Captcha(CAPS ONLY)" required type="text">
            </div>
            <button class="buttons font-20" onclick="login()" type="button">Login</button>
            <a class="font-25 white no-decoration" href="/forgot_password/"> Forgot Password</a>
            <button class="buttons font-20" onclick="window.location.href='/signup/'" type="button">Signup</button>
        </form>
    </div>
</div>
{% endblock %}