{% extends 'basic.html' %}
{% load static %}
<head>
    <title>login page 1</title>
    <meta charset="UTF-8">
    <title>login page 1 </title>
</head>
{% block body %}
<div class="left"></div>
<img class="images" src="{% static 'images/logo 1-modified.jpeg' %}" alt="logo 1">
<div class="form-box">
    <div class="header-text">
        Login
    </div>
    <input placeholder="Your Email Address" type="text" required>
    <input placeholder="Your Password" type="password" required>
    <div style="width:100%;">
        <img src="media/captcha.jpg" style="width:70%;height:50px;" align="left">
        <button type="button" onclick="doRefreshCaptcha();" style="width:19%;cursor: pointer;float:right;">
            <img src="{% static 'images/refresh_img.png' %}" width="100%">
        </button>
    </div>
    <div>
        <input placeholder="Captcha(CAPS ONLY)" type="text" required>
    </div>
    <input id="terms" type="checkbox" required>
    <label for="terms"></label><span>Agree with <a href="#"> Terms & Conditions</a></span>
    <button type="button" class="buttons">login</button>
    <button type="button" class="buttons" onclick="window.location.href='signup.html'">signup</button>
</div>
{% endblock %}