{% extends 'basic.html' %}
{% block body %}
<div class="form-box2">
    <h1 align="center">
        Signup
    </h1>
    <form action="/signup_doctor/" method="post">
        <table cellpadding="0" cellspacing="0" class="font-20 w-100">
            <tr>
                <td> Name:</td>
                <td><input class="form-input" placeholder="your name " type="text"></td>
            </tr>
            <tr>
                <td> Email:</td>
                <td><input class="form-input" placeholder="Your Email Address" required type="text"></td>
            </tr>
            <tr>
                <td> Password:</td>
                <td><input class="form-input" placeholder="Your Password" required type="password"></td>
            </tr>
            <tr>
                <td> confirm password :</td>
                <td><input class="form-input" placeholder="confirm password " type="text"></td>
            </tr>
            <tr>
                <td> licence number:</td>
                <td><input class="form-input" placeholder="licence number" required type="text"></td>
            </tr>
            <tr>
                <td colspan="2">upload a photo of licence card:</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input class="form-input" id="myFile" name="filename" type="file">
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <button> Submit </button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}