{% extends 'basic.html' %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block body %}
<div class="container-g">
    <div class="section-1">
        <h1 id="heading">
            Upload Your Card
        </h1>
        <div align="center" class="form-g mt-5 font-20">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <li class="red font-20" style="list-style:none;">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/signup/" enctype="multipart/form-data" id="theForm" method="post">{% csrf_token %}
                Card : <input accept="image/*" class="image-input" name="images" required type="file">
                <input class="btn-g" type="submit" value="Next">
            </form>
        </div>
        <div class="btn-g-1 mt-5">
            <button class="btn-g " onclick="window.location.href='/'">Already have account</button>
        </div>
        <div class="btn-g-2">
            <button class="btn-g" onclick="window.location.href='/signup_doctor/'">Doctor's signup</button>
        </div>
    </div>
    <div class="section-2">
        <div>
            <a href="https://healthid.ndhm.gov.in/register">
                <img class="id-image" src="https://res.cloudinary.com/df25ncrwn/image/upload/v1646048907/media/health_world/static/images/idcard_zkdacd.jpg">
            </a>
            <div class="mt-2 font-20">
                <a href="https://healthid.ndhm.gov.in/register">Click Here to Generate Health IdCard</a>
            </div>
        </div>
        <div >
            <video autoplay controls height="280" muted width="330">
                <source src="https://res.cloudinary.com/df25ncrwn/video/upload/v1646048881/media/health_world/static/video/GeneratingHealthID_aw16ya.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
{% endblock %}