{% extends 'basic.html' %}
{% block body %}
<div class="h-100 w-100">
    <div align="center">
        <img alt="logo 1" class="images" src="https://res.cloudinary.com/df25ncrwn/image/upload/v1646470383/media/health_world/static/images/Logo_jxspqx.png"
             width="100%">
    </div>
    <div class="form-box2 ">
        <h1 align="center" class="mt-0">
            Doctor Signup
        </h1>
        <div class="vertical-center-2 w-100" style="position:relative;margin-top:-1.5em;">
            <p class="font-20 red" id="signup-text"></p>
            <form action="/signup_doctor/" enctype="multipart/form-data" method="post">{% csrf_token %}
                <table cellpadding="0" cellspacing="0" class="font-20 w-100 mt-0">
                    <tr>
                        <td width="39%"> Email:</td>
                        <td width="60%">
                            <input class="form-input" id="email" name="username" placeholder="Your Email Address" required type="text">
                            <p class="green mt-0" id="email-text"></p>
                        </td>
                    </tr>
                    <tr hidden id="otp">
                        <td>
                            <input class="form-input" id="my-otp" placeholder="otp" type="text">
                        </td>
                        <td align="center">
                            <button class="btn btn-g" onclick="doctorEmailValidate()">Validate Otp</button>
                            <button class="btn btn-g" onclick="doctorSignup">Resend</button>
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Full Name :</td>
                        <td>
                            <input class="form-input" name="name" placeholder="your name" required type="text">
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Contact Number :</td>
                        <td>
                            <input class="form-input" name="phone_number" placeholder="your name" required type="tel">
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Gender :</td>
                        <td>
                            <input name="gender" required type="radio" value="male">Male
                            <input name="gender" required type="radio" value="female">Female
                            <input name="gender" required type="radio" value="other">Other
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Password:</td>
                        <td>
                            <input autocomplete="off" class="form-input" name="password" placeholder="Your Password" required type="password">
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Confirm password :</td>
                        <td>
                            <input autocomplete="off" class="form-input" name="confirm_passwortd" placeholder="confirm password " type="text">
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td> Licence number:</td>
                        <td><input class="form-input" name="licence_no" placeholder="licence number" required type="text"></td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td colspan="2">upload a photo of licence card:</td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td align="center" colspan="2">
                            <input accept="image/*" class="image-input" id="myFile" name="image1" required type="file">
                        </td>
                    </tr>
                    <tr id="otp-button">
                        <td align="center" colspan="2">
                            <button class="btn-g mt-1" onclick="doctorSignup()"> Submit</button>
                        </td>
                    </tr>
                    <tr class="hidden" hidden>
                        <td align="center" colspan="2">
                            <input class="btn-g mt-1" type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}