{% extends 'basic.html' %}
{% block body %}
<div class="form-box2 ">
    <h1 align="center" class="mt-0">
        Doctor Signup
    </h1>
    <div class="vertical-center-2 w-100" style="position:relative;margin-top:-1.5em;">
        <p class="font-20 red" id="signup-text"></p>
        <form action="/signup_doctor/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table cellpadding="0" cellspacing="0" class="font-20 w-100 mt-0">
                <tr>
                    <td width="39%"> Email:</td>
                    <td width="60%">
                        <input class="form-input" id="email" name="username" placeholder="Your Email Address" required type="text">
                        <p id="email-text" class="green mt-0"></p>
                    </td>
                </tr>
                <tr id="otp" hidden>
                    <td>
                        <input class="form-input" placeholder="otp" type="text" id="my-otp">
                    </td>
                    <td align="center" >
                        <button class="btn btn-g" onclick="doctorEmailValidate()">Validate Otp</button>
                        <button class="btn btn-g" onclick="doctorSignup">Resend</button>
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td> Full Name :</td>
                    <td>
                        <input class="form-input" name="name" required placeholder="your name" type="text">
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td> Contact Number :</td>
                    <td>
                        <input class="form-input" name="phone_number" required placeholder="your name" type="tel">
                    </td>
                </tr>
                <tr class="hidden" hidden >
                    <td> Gender : </td>
                    <td>
                        <input type="radio" name="gender" value="male" required>Male
                        <input type="radio" name="gender" value="female" required>Female
                        <input type="radio" name="gender" value="other" required>Other
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td> Password:</td>
                    <td>
                        <input class="form-input" type="password" name="password" placeholder="Your Password" required  autocomplete="off">
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td> Confirm password :</td>
                    <td>
                        <input class="form-input" name="confirm_passwortd" placeholder="confirm password " type="text" autocomplete="off">
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td> Licence number:</td>
                    <td><input class="form-input" type="text" name="licence_no" placeholder="licence number" required ></td>
                </tr>
                <tr class="hidden" hidden>
                    <td colspan="2">upload a photo of licence card:</td>
                </tr>
                <tr class="hidden" hidden>
                    <td align="center" colspan="2">
                        <input type="file"  class="image-input" id="myFile" name="image1" accept="image/*" required>
                    </td>
                </tr>
                <tr id="otp-button">
                    <td align="center" colspan="2">
                        <button class="btn-g mt-1" onclick="doctorSignup()"> Submit</button>
                    </td>
                </tr>
                <tr class="hidden" hidden>
                    <td align="center" colspan="2">
                        <input type="submit" class="btn-g mt-1" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}