{% extends 'basic.html' %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block body %}
<div class="container w-100" align="center">
    <div align="center" class="w-100 mt-5">
        <form action="/signup2/" method="post">{% csrf_token %}
            <table border="1" align="center" style="border-collapse:collapse;" cellspacing="20" cellpadding="10" class="mt-5">
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" class="input-220" name="name" readonly value="{{applicant_name}}">
                    </td>
                </tr>
                <tr>
                    <td>Card Number</td>
                    <td>
                        <input type="text"  class="input-220" name="id_number" readonly value="{{card_number}}">
                    </td>
                </tr>
                <tr>
                    <td>PHR Address</td>
                    <td>
                        <input type="text"  class="input-220" name="phr_address" readonly value="{{phr_address}}">
                    </td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                    <td>
                        <input type="number"  class="input-220" name="mobile_number" readonly value="{{mobile_number}}">
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="text" name="gender"  class="input-220" readonly value="{{gender}}">
                    </td>
                </tr>
                <tr>
                    <td>Email id</td>
                    <td>
                        <input type="email"  class="input-220" name="username" id="username" onkeyup=(this.value=this.value.toLowerCase())><br>
                        <span id="email-text" class="red-text"></span>
                    </td>
                </tr>
                <tr id="otpGen">
                    <td colspan="2" align="center">
                        <button type="button" onclick="otpGenerator()">Generate Otp</button>
                    </td>
                </tr>
                <tr>
                    <td id="otp" hidden>
                        <input type="text" id="my-otp"  class="input-220" placeholder="Otp" style="width:130px;" onkeyup=(this.value=this.value.toUpperCase())>
                    </td>
                    <td id="buttons" hidden>
                        <button type="button" id="valid-btn" onclick="otpValidator()" hidden>Validate</button>
                        <button type="button" id="resend-btn" onclick="otpGenerator()" hidden>Resend Otp</button>
                        <span id="resend-text"> </span>
                    </td>
                </tr>
                <tr hidden id="password">
                    <td> Password</td>
                    <td>
                        <input type="password"  class="input-220" name="password">
                    </td>
                </tr>
                <tr hidden id="confirm-password"  class="input-220">
                    <td> Confirm Password</td>
                    <td>
                        <input  class="input-220" type="password" name="confirm-password">
                    </td>
                </tr>
                <tr hidden id="submit-button">
                    <td align="center" colspan="2">
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
