body{
    box-sizing: border-box;
    background: url("/static/images/bg1.jpg");
    background-repeat:no-repeat;
    background-position-x : left;
    background-position-y : center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height :auto;
        }

.images{
	margin-left: 46.3% ;
	margin-top: 20px ;
	width: 100px;
	height: 100px;
	position: relative;
	z-index: 1;
}

.form-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 550px;
}
.form-box:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 27px;
	text-align: center;
}
.form-input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
	font-family: sans-serif;
}
.form-box input[type=checkbox] {
	display: none;
}
.form-box label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}
.form-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.font-12{
	font-size: 12px;
}
.buttons {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
	padding: 9px;
	margin: 20px 0px;
}
span a {
	color: #BBB;
}
.captchaImage{
    width:70%;
    height:50px;
}
.alertText{
    color : red;
    font-size : 20px;
    font-weight : bold;
}

.invalid{
    border : 3px solid;
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
}
.valid{
    border : 5px solid;
    border-color: #006400;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
}

.h-100 {
    height: 100% !important;
}
.input-220{
    width:220px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition-duration: 0.4s;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:hover {
  background-color: #f44336;
  color: white;
}

.form-box2{
	background-color: rgba(143, 224, 229, 0.918);
	margin: auto auto;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(122, 209, 209);
	position: absolute ;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	width: 450px;
	height: 620px;
}
.form-box2:before {

	width: 100%;
	height: 100%;

	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
}
.form-box2 .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align:center;
}
.form-box2 input {
	margin: 2px 0px;
	border: none;
	padding: 5px;
	border-radius: 10px;
	width: 60%;
	font-size: 18px;
	font-family: sans-serif;
}
.form-box2 input[type=checkbox] {
	display:none;
}
.form-box2 label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form-box2 label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}
.form-box2 input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form-box2 span {
	font-size: 14px;
}
.form-box2 button {
	background-color: rgb(3, 3, 3);
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	width: 100%;
	font-size: 20px;
	padding: 9px;
	margin: 20px 0px;

.first-btn{
		display: inline-block;
		text-decoration: none ;
		color: rgb(8, 2, 2);
		border: 1px solid rgb(202, 14, 14);
		padding: 12px 34px ;
		font-size: 13px;
		background: transparent;
		position: relative;
		cursor: pointer;
	}
}
span a {
	color: #BBB;
}

@media only screen and (max-width: 576px){
    .ab{
        width : 50%;
    }
}


/* GAJENDRA CSS */
.navbar {
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
.navbar-dark{
    color: #fff;
}
.navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}
.collapse:not(.show) {
    display: none;
}
navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.document{
  float: left;
  margin-left: 6%;
  margin-top:4%;
}
.view{
  float: right;
  margin-right: 6%;
  margin-top:4%;
}
p{
  margin:4%;
}